# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
._*


# =========================
# Environment variables
# =========================
.env

# =========================
# Data files
# =========================
data/raw/
data/interim/

# Permitir apenas amostras pequenas versionadas
!data/raw/*.sample.csv

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
