# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
._*


# =========================
# Environment variables
# =========================
.env

# =========================
# Data files
# =========================
data/raw/
data/processed/
!data/reference/
# Permitir apenas amostras pequenas versionadas
!data/raw/*.sample.csv

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
git_push.sh

# =========================
# Airflow
# =========================
airflow_venv/
airflow_home/
airflow_home/*.db
airflow_home/*.cfg
airflow_home/*.err
airflow_home/*.log
airflow_home/*.pid
airflow_home/logs/
airflow_home/airflow.db
airflow_home/webserver_config.py

# Se você estiver usando o diretório de plugins e logs fora do airflow_home
logs/
plugins/